<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/Website.css" rel="stylesheet" />
</head>
<body>
    
    <div class="container">
        
        <div class="sidenav">

            <a href="#about">Home</a>
            <a href="#about">Profile</a>
            <a href="#services">Create New Post</a>
            <a href="#clients">My posts</a>
            <a href="#contact">Recieved Quesitions</a>
            <a href="#contact">Log Out</a>
        </div>


    </div>
    <div class="container body-content main">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
